/unpacked_zipfiles/
/old_csvs/
/.venv/
/WoogleDumps/
/Wooverheid notebooks/
/old_csvs/df_documents.csv
/old_csvs/df_documents_dates.csv
/df_dossiers_final.csv
/.ipynb_checkpoints/
/dataset/VWS/unpacked_zipfiles/
/schoonenv/
